.nav{
	background-color:#d3badb!important; ;
}

body > section{
 background-image: image("images/chalk.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.collapse{
	display: inline-block;
}

form {
	display: inline-block;
	padding: 2em;
	text-align: left;
}

label, input, textarea{
	display: block;
}

footer{
	background-color: #d3badb;
	color: whitesmoke;
}

h4{
	text-align: center;
}