/*Google Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz:wght@600&display=swap');

/* global*/
.card-text{
	font-family: "Comic Sans MS", sans-serif;
}

img{
	width: 100%;
}
/* **********************************************************************/

/* **NAV** */

.nav {
	padding: .75em;
}

.navbar{
	padding: 0
}

.purple{
	background-color: #d3badb !important;
}

div.container-fluid {
	width: 100%;
	padding-right: 0;
	padding-left: 0;
}

/* ***Welcome*** */

body > section {
background: url("https://images.unsplash.com/photo-1587586062323-836089e60d52?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80") no-repeat center;
background-size: cover;
}

.jumbotron{
	background-color: transparent;
	font-family: 'Chelsea Market', cursive;
	text-align: center;
	margin: 0;
}

body > section > div > h1{
	text-shadow: 3px 3px #c870ec;
}

.lead{
background-color: #c7dbba54!important;
	font-family: "Comic Sans MS", sans-serif;
}

body > section > div > p{
	margin: auto;
}

/* ***ABC CARDS*** */

body > main {
background:  url("https://images.unsplash.com/photo-1545199040-e144651a428d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1051&q=80") no-repeat center right fixed;
background-size: cover;
padding-bottom: 2rem;
padding-top: 2rem;
}

body > main > div:nth-child(1) > div:nth-child(1) > div,
body > main > div:nth-child(2) > div:nth-child(2) > div,
body > main > div:nth-child(3) > div:nth-child(3) > div,
body > main > div:nth-child(4) > div:nth-child(4) > div {
	background-color: rgba(255, 115, 150, 0.85);
}

body > main > div:nth-child(1) > div:nth-child(2) > div,
body > main > div:nth-child(2) > div:nth-child(3) > div,
body > main > div:nth-child(3) > div:nth-child(4) > div,
body > main > div:nth-child(4) > div:nth-child(5) > div {
	background-color: rgba(255, 62, 87, 0.85);
}

body > main > div:nth-child(1) > div:nth-child(3) > div,
body > main > div:nth-child(2) > div:nth-child(4) > div,
body > main > div:nth-child(3) > div:nth-child(5) > div,
body > main > div:nth-child(4) > div:nth-child(6) > div{
	background-color: rgba(255, 179, 37, 0.85);
}

body > main > div.d-flex.flex-sm-row.justify-content-center > div:nth-child(1) > div,
body > main > div:nth-child(3) > div:nth-child(6) > div,
body > main > div:nth-child(2) > div:nth-child(5) > div,
body > main > div:nth-child(1) > div:nth-child(4) > div{
	background-color: rgba(255, 246, 101, 0.85);
}

body > main > div:nth-child(1) > div:nth-child(5) > div,
body > main > div:nth-child(2) > div:nth-child(6) > div,
body > main > div:nth-child(4) > div:nth-child(1) > div,
body > main > div.d-flex.flex-sm-row.justify-content-center > div:nth-child(2) > div{
	background-color: rgba(122, 205, 182, 0.86);
}

body > main > div:nth-child(1) > div:nth-child(6) > div,
body > main > div:nth-child(3) > div:nth-child(1) > div,
body > main > div:nth-child(4) > div:nth-child(2) > div{
	background-color: rgba(23, 189, 255, 0.85);
}

body > main > div:nth-child(4) > div:nth-child(3) > div,
body > main > div:nth-child(3) > div:nth-child(2) > div,
body > main > div:nth-child(2) > div:nth-child(1) > div{
	background-color: rgba(177, 112, 198, 0.85);
}

.card-body{
	margin-top: 1.5em;
	padding: .5em;
	text-align: center;
	background-color: transparent;
	border: 0;
}
.card-text{
	font-size: larger;
}

.btn-light {
	color: #000000;
	background-color: #f8f9fa;
	border: 0;
}

.collapse > div > p {
	font-size: larger;
}

/* ***ACTIVITIES*** */

#activities{
	font-size: xx-large;
}

body > div.container {
	padding: .50em;
	text-align: center;
	font-family: 'Chelsea Market', cursive;
}

body > div:nth-child(5) > div {
	background-color: #d3badb;
	padding-top: 1.5em;
}

        /* col mb-4's */
body > div:nth-child(5) > div > div:nth-child(1),
body > div:nth-child(5) > div > div:nth-child(2),
body > div:nth-child(5) > div > div:nth-child(3){
	border-radius: 1.25rem;
	border: 5px solid #d3badb;
}

/* ***CONTACTS*** */

#contactMe{
	font-size: xx-large;
}

body > div:nth-child(7){
background: url("https://images.unsplash.com/photo-1587586291914-bdbe84ec1416?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80") no-repeat center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

body > div:nth-child(7) > div{
	display: flex;
	align-content: center;
	flex-direction: column;
	min-width: 0;
	background-color: #d3badbba;
	background-clip: border-box;
	border: 1px solid rgba(0,0,0,.125);
	border-radius: .25rem;
	margin: auto;
}


form {
	display: inline-block;
	text-align: center;
}

label, input, textarea{
display: block;
	text-align: left;
	font-family: "Comic Sans MS", sans-serif;
	width: 100%;
	padding-top: .50em;
}

button, select {
	text-transform: none;
	border: solid rgba(249, 248, 247, 0.65) .15em;
	margin-top: .50em;
	font-family: "Comic Sans MS", sans-serif;
	background-color: #d3badb;
}

#contact > div > div.g-recaptcha{
	padding-top: .50em;
	padding-bottom: .50em;
}

/* ***FOOTER*** */
footer{
background-color: #d3badb!important;
color: #000000;
}

h4{
text-align: center;
	font-family: 'Chelsea Market', cursive;
}
