/*Google Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz:wght@600&display=swap');

/* global*/
.card-text{
	font-family: "Comic Sans MS", sans-serif;
}

img{
	width: 100%;
}
/* **********************************************************************/

.nav {
	padding: .75em;
}

.navbar{
	padding: 0
}

.purple{
	background-color: #d3badb !important;
}


div.container-fluid {
	width: 100%;
	padding-right: 0;
	padding-left: 0;
}

section.title {
background:  url(../public_html/images/chalk.jpg) no-repeat center/80%;
background-size: cover;
}

.jumbotron{
background-color: transparent;
	font-family: 'Chelsea Market', cursive;
text-align: center;
}

.lead{
background-color: #f5f5f566!important;
	font-family: "Comic Sans MS", sans-serif;
}

h1{
padding-top: 1em;
padding-bottom: 1em;
}
/* ABC Cards*/
body > main {
background: url(../public_html/images/chalkboard.jpg) no-repeat center right fixed;
background-size: cover;
padding-bottom: 2rem;
padding-top: 2rem;
}

body > main > div:nth-child(1),
body > main > div:nth-child(2),
body > main > div:nth-child(3),
body > main > div:nth-child(4),
body > main > div:nth-child(5) {
	padding-top: 1em;
	padding-bottom: 1em;
	margin: 1em;
}

body > main > div:nth-child(1) > div:nth-child(1) > div,
body > main > div:nth-child(2) > div:nth-child(2) > div,
body > main > div:nth-child(3) > div:nth-child(3) > div,
body > main > div:nth-child(4) > div:nth-child(4) > div {
	background-color: rgba(255, 115, 150, 0.85);
}

body > main > div:nth-child(1) > div:nth-child(2) > div,
body > main > div:nth-child(2) > div:nth-child(3) > div,
body > main > div:nth-child(3) > div:nth-child(4) > div,
body > main > div:nth-child(4) > div:nth-child(5) > div {
	background-color: rgba(255, 62, 87, 0.85);
}

body > main > div:nth-child(1) > div:nth-child(3) > div,
body > main > div:nth-child(2) > div:nth-child(4) > div,
body > main > div:nth-child(3) > div:nth-child(5) > div,
body > main > div:nth-child(4) > div:nth-child(6) > div{
	background-color: rgba(255, 179, 37, 0.85);
}

body > main > div.d-flex.flex-sm-row.justify-content-center > div:nth-child(1) > div,
body > main > div:nth-child(3) > div:nth-child(6) > div,
body > main > div:nth-child(2) > div:nth-child(5) > div,
body > main > div:nth-child(1) > div:nth-child(4) > div{
	background-color: rgba(255, 246, 101, 0.85);
}

body > main > div:nth-child(1) > div:nth-child(5) > div,
body > main > div:nth-child(2) > div:nth-child(6) > div,
body > main > div:nth-child(4) > div:nth-child(1) > div,
body > main > div.d-flex.flex-sm-row.justify-content-center > div:nth-child(2) > div{
	background-color: rgba(122, 205, 182, 0.86);
}

body > main > div:nth-child(1) > div:nth-child(6) > div,
body > main > div:nth-child(3) > div:nth-child(1) > div,
body > main > div:nth-child(4) > div:nth-child(2) > div{
	background-color: rgba(23, 189, 255, 0.85);
}

body > main > div:nth-child(4) > div:nth-child(3) > div,
body > main > div:nth-child(3) > div:nth-child(2) > div,
body > main > div:nth-child(2) > div:nth-child(1) > div{
	background-color: rgba(177, 112, 198, 0.85);
}


.card-body{
	margin-top: 1.5em;
	padding: .5em;
	text-align: center;
	background-color: transparent;
	border: 0;
}
.card-text{
	font-size: larger;
}


.btn-light {
	color: #000000;
	background-color: #f8f9fa;
	border: 0;
}

.collapse > div > p {
	font-size: larger;
}

/* activities */
body > div.container {
	padding: 1em;
	text-align: center;
	font-size: xx-large;
	font-family: 'Chelsea Market', cursive;
}

body > div.row.row-cols-1.row-cols-md-3 > div:nth-child(1) > div,
body > div.row.row-cols-1.row-cols-md-3 > div:nth-child(2) > div,
body > div.row.row-cols-1.row-cols-md-3 > div:nth-child(3) > div {
	border-radius: .50rem;
	border: 5px solid #d3badb;
}


/* contact */
body > div.container.flex-sm-wrap.p-4 > div > div:nth-child(2) > div > h3{
	padding: 1.5em;
}

form {
display: inline-block;
padding: 2em;
text-align: center;
}


label, input, textarea{
display: block;
	text-align: left;
	font-family: "Comic Sans MS", sans-serif;
}

button, select {
	text-transform: none;
	border: solid black .15em;
	margin-top: 1em;
}

footer{
background-color: #d3badb!important;
color: #000000;
}

h4{
text-align: center;
}