
h1{
	text-align: center;
	margin: 0 auto 2rem;
	color: rebeccapurple;
}
body{
	Padding: 2em 3em;
	margin-left: 2em;
}

img {
	display: block;
	Height: 30em;
	border:solid;
	border-color: mediumpurple;
	padding: 1em 1em;
}